CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RESEND_API_KEY=resend-key

SECRET_KEY=your_generated_secret_key_here

# Production Settings
DATABASE_URL=postgresql://username:password@localhost:5432/your_database
FRONTEND_URL=https://your-frontend-app.vercel.app
